body {
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 100px;
    background-color: rgb(61, 61, 61);
}
.name {
    color: #b693fe;
    margin: 34px 0 0 80px;
    display: inline-block;
}
header .cart-button {
    float: right;
    margin: 30px 120px 0 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #8c82fc;
    transition-duration: 0.5s;
    border: none;
}
header .cart-button:hover {
    background: #b693fe;
}

.goods-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.goods-item {
    outline: 1px solid rgb(61, 61, 61);
}
.goods-item p, .goods-item h3 {
    margin: 0  0  0 10px;
}
.buy {
    color: rgb(185, 185, 185);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(61, 61, 61);
    transition-duration: 0.9s;
    border: none;
    margin: 0 0 20px 10px;
}
.buy:hover {
    background: rgb(185, 185, 185);
    color: rgb(61, 61, 61);
}

.sumBasket {
    margin-top: 70px;
    margin-right: 60px;
    float: right;
}